Repository qzmfranklin/torrent: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-cc, clang-format-java, clang-format-proto, yapf, pylint, tslint, yamllint, ansible-lint, json-lint, remove-modeline, checkstyle

clang-format-cc:
  name: clang-format-cc (format cpp code)
  entry: clang-format -i
  language: system

clang-format-java:
  name: clang-format-java (format java code)
  entry: clang-format -i
  language: system

clang-format-proto:
  name: clang-format-proto (format protobuf code)
  entry: clang-format -i
  language: system

yapf:
  name: yapf (format python code)
  entry: python3 -m yapf -i
  language: system

pylint:
  name: pylint (lint python code)
  entry: python3 -m pylint --rcfile=.pylintrc
  language: system

tslint:
  name: tslint (lint typescript files)
  entry: tslint -c .tslintrc.json
  language: system

yamllint:
  name: yamllint (lint yaml, .yaml and .yml, files)
  entry: yamllint -c .yamllint.yaml
  language: system

ansible-lint:
  name: ansible-lint (lint ansible .yml files)
  entry: ansible-lint --force-color -c .ansible-lint
  language: system

json-lint:
  name: json-lint (lint json files)
  entry: ./git_hooks/json_lint.py --indent 4
  language: python

remove-modeline:
  name: remove-modeline
  entry: ./git_hooks/remove_modeline.py
  language: python

checkstyle:
  name: checkstyle (lint java code)
  entry: ./git_hooks/checkstyle.py -c .checkstyle.xml
  language: python

Proper git ignore.
  .gitattributes
  .gitignore
  tools/python/BUILD
Due: none

Normalize .gitmodules
  .gitmodules
  .pylintrc
  git_hooks/BUILD
  git_hooks/__init__.py
  git_hooks/check_bazel_source.py
  git_hooks/checkstyle.py
  git_hooks/common_util.py
  git_hooks/json_lint.py
  git_hooks/purify_text.py
  git_hooks/purify_text_test.py
  git_hooks/remove_modeline.py
  git_hooks/remove_modeline_test.py
  git_hooks/run_bazel_test.py
  tools/source_control/gitmodules.py
Due: yapf, pylint, remove-modeline

Use proper .bazelrc
  .bazelrc
  .gitignore
  __configure_build__.py
Due: yapf, pylint, remove-modeline

Clean WORKSPACE
  WORKSPACE
Due: none

Remove examples/__configure__
  examples/__configure__/__configure_build__.py
  examples/__configure__/mock_settings.j2
  examples/__configure__/subdir/__configure_build__.py
  examples/__configure__/subdir/mock_settings.j2
Due: yapf, pylint, remove-modeline

Add examples/cc/llvm_toy.cc
  bazel/system_libs/clang.BUILD
  bazel/workspace.bzl
  examples/cc/BUILD
  examples/cc/Makefile
  examples/cc/helloworld.cc
  examples/cc/llvm_toy.cc
  tools/cpp/CROSSTOOL
Due: clang-format-cc

Add third_party/cc/llvm
  .gitmodules
Due: none

Update .gitmodules for third_party/python/six
  .gitmodules
Due: none

examples/swig/... works!
  BUILD
  bazel/system_libs/cpython_hdrs.BUILD
  bazel/system_libs/cpython_libs.BUILD
  bazel/system_libs/llvm.BUILD
  bazel/workspace.bzl
  examples/cc/BUILD
  examples/cc/llvm_toy.cc
  examples/swig/BUILD
  examples/swig/Makefile
  examples/swig/cc/Circle.cc
  examples/swig/cc/Circle.h
  examples/swig/cc/Shape.cc
  examples/swig/cc/Shape.h
  examples/swig/cc/Square.cc
  examples/swig/cc/Square.h
  examples/swig/cc/interface.i
  examples/swig/cc/shape_wrap.cc
  examples/swig/python/shape.py
  examples/swig/python/shape_test.py
  tools/bazel.rc
  tools/build_rules/swig/BUILD
  tools/build_rules/swig/py_swig_library.bzl
  tools/build_rules/swig/swig_library.bzl
  tools/build_rules/swig/swig_wrapper.sh
  tools/cpp/CROSSTOOL
Due: clang-format-cc, yapf, pylint, remove-modeline

Update submodule third_party/cc/swig.
  .gitmodules
Due: none

Better swig rule.
  BUILD
  bazel/system_libs/cpython_libs.BUILD
  examples/python/pex/BUILD
  examples/swig/BUILD
  examples/swig/python/shape_test.py
  tools/build_rules/swig/README
  tools/build_rules/swig/swig_library.bzl
Due: yapf, pylint, remove-modeline

Fix bugs in gitmodules.py and track_upstream.py.
  tools/source_control/gitmodules.py
  tools/source_control/track_upstream.py
Due: yapf, pylint, remove-modeline

Use third_party/cc/swig:swig for swig rules.
  .gitmodules
  tools/build_rules/swig/swig_library.bzl
  tools/source_control/git_submodule.py
  tools/source_control/gitmodules.py
  tools/source_control/track_upstream.py
Due: yapf, pylint, remove-modeline

Do not leak LD_LIBRARY_PATH.
  .bazelrc.j2
  tools/bazel.rc
Due: none

Path conditions:
  clang-format-cc: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    .*_pb2(_grpc)?\.py|     # Generated protobuf and grpc files.
    tools/cpp/.*|           # Bazel cpp tools.
    third_party/.*|         # Third party source codes.
)$

  clang-format-java: any of: \.java$, but not: (?x)^(
    .*_pb2(_grpc)?\.py|     # Generated protobuf and grpc files.
    tools/cpp/.*|           # Bazel cpp tools.
    third_party/.*|         # Third party source codes.
)$

  clang-format-proto: any of: \.proto$, but not: (?x)^(
    .*_pb2(_grpc)?\.py|     # Generated protobuf and grpc files.
    tools/cpp/.*|           # Bazel cpp tools.
    third_party/.*|         # Third party source codes.
)$

  yapf: any of: \.py$, but not: (?x)^(
    .*_pb2(_grpc)?\.py|     # Generated protobuf and grpc files.
    tools/cpp/.*|           # Bazel cpp tools.
    third_party/.*|         # Third party source codes.
)$

  pylint: any of: \.py$, but not: (?x)^(
    .*_pb2(_grpc)?\.py|     # Generated protobuf and grpc files.
    tools/cpp/.*|           # Bazel cpp tools.
    third_party/.*|         # Third party source codes.
)$

  tslint: any of: \.(ts|mts|cts)$, but not: (?x)^(
    .*_pb2(_grpc)?\.py|     # Generated protobuf and grpc files.
    tools/cpp/.*|           # Bazel cpp tools.
    third_party/.*|         # Third party source codes.
)$

  yamllint: any of: \.(yaml|yml)$, but not: (?x)^(
    .*_pb2(_grpc)?\.py|     # Generated protobuf and grpc files.
    tools/cpp/.*|           # Bazel cpp tools.
    third_party/.*|         # Third party source codes.
)$

  ansible-lint: any of: \.yml$, but not: (?x)^(
    .*_pb2(_grpc)?\.py|     # Generated protobuf and grpc files.
    tools/cpp/.*|           # Bazel cpp tools.
    third_party/.*|         # Third party source codes.
)$

  json-lint: any of: \.json$, but not: (?x)^(
    .*_pb2(_grpc)?\.py|     # Generated protobuf and grpc files.
    tools/cpp/.*|           # Bazel cpp tools.
    third_party/.*|         # Third party source codes.
)$

  remove-modeline: any of: \.py$, but not: (?x)^(
    .*_pb2(_grpc)?\.py|     # Generated protobuf and grpc files.
    tools/cpp/.*|           # Bazel cpp tools.
    third_party/.*|         # Third party source codes.
)$

  checkstyle: any of: \.java$, but not: (?x)^(
    .*_pb2(_grpc)?\.py|     # Generated protobuf and grpc files.
    tools/cpp/.*|           # Bazel cpp tools.
    third_party/.*|         # Third party source codes.
)$

